In [1]:
from xmen.linkers import default_ensemble
from xmen.data import filter_and_apply_threshold
from xmen.evaluation import evaluate, evaluate_at_k, error_analysis

/Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Load dataset in BigBIO format

In [ ]:
# Clone forked repo until loader with SNOMED CT layer is on HF Hub
!git clone -b grascco_snomed git@github.com:phlobo/biomedical.git

In [2]:
import datasets
ds = datasets.load_dataset(
    'biomedical/bigbio/hub/hub_repos/grascco/grascco.py', 
    'grascco_snomed_bigbio_kb',
    data_dir='../gemtex_oncology/annotation/json/'
)['train']

## Remove literals for evaluation

In [4]:
ds_no_literals = ds.map(lambda d: {'entities' : [e for e in d['entities'] if e['type'] != 'Literal']})

Map: 100%|██████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00, 61.20 examples/s]

## Predict using xMEN ensemble linker

In [5]:
linker = default_ensemble('xmen_index/index/', k_ngram=10, k_sapbert=10, cuda=False)

[11/05/24 22:24:19] INFO     Loading hierarchical faiss index                                ]8;id=485993;file:///Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/xmen/linkers/sap_bert_linker.py\sap_bert_linker.py]8;;\:]8;id=803868;file:///Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/xmen/linkers/sap_bert_linker.py#153\153]8;;\

                    INFO     Loading index from                                                 ]8;id=74349;file:///Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/xmen/linkers/faiss_indexer.py\faiss_indexer.py]8;;\:]8;id=559875;file:///Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/xmen/linkers/faiss_indexer.py#64\64]8;;\
                             xmen_index/index/sapbert/embed_faiss_hier.pickle

[11/05/24 22:24:25] INFO     Loaded index of type <class 'faiss.swigfaiss.IndexHNSWFlat'> and   ]8;id=876487;file:///Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/xmen/linkers/faiss_indexer.py\faiss_indexer.py]8;;\:]8;id=663031;file:///Users/phlobo/miniconda3/envs/xmen/lib/python3.10/site-packages/xmen/linkers/faiss_indexer.py#66\66]8;;\
                             size 1967771

In [6]:
predictions = linker.predict_batch(ds_no_literals)

Map: 100%|██████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<00:00,  1.01 examples/s]

## Evaluation

In [7]:
_ = evaluate_at_k(ds_no_literals, predictions, eval_k=[1,2,3,4])

Recall@1 0.375
Recall@2 0.44642857142857145
Recall@3 0.5
Recall@4 0.5

In [8]:
ea_df = error_analysis(ds_no_literals, predictions, tasks=['nen'])

In [9]:
ea_df

,_word_len,_abbrev,gt_start,gt_end,gt_text,gold_type,gold_concept,pred_index,pred_index_score,pred_top,pred_top_score,document_id
0,1,False,215,226,[Verbrennung],Concept,"{'db_name': 'SNOMED CT', 'db_id': '125666000'}",2,1.000000,48333001,1.000000,Albers.txt
1,1,False,227,229,[1.],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258351006'}",-1,NaN,68085002,0.948133,Albers.txt
2,2,False,232,241,[3. Grades],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258353009'}",1,0.934421,61026006,0.934421,Albers.txt
3,1,False,243,247,[Kopf],Concept,"{'db_name': 'SNOMED CT', 'db_id': '302548004'}",-1,NaN,69536005,1.000000,Albers.txt
4,1,False,250,254,[Hals],Concept,"{'db_name': 'SNOMED CT', 'db_id': '49928004'}",-1,NaN,45048000,1.000000,Albers.txt
5,1,False,255,257,[5%],Concept,"{'db_name': 'SNOMED CT', 'db_id': '113341005'}",-1,NaN,260304006,0.847881,Albers.txt
6,1,True,260,263,[KOF],Concept,"{'db_name': 'SNOMED CT', 'db_id': '301898006'}",-1,NaN,34763001,0.831992,Albers.txt
7,1,False,267,281,[Handamputation],Concept,"{'db_name': 'SNOMED CT', 'db_id': '46028000'}",0,1.000000,46028000,1.000000,Albers.txt
8,1,True,282,284,[LI],Concept,"{'db_name': 'SNOMED CT', 'db_id': '7771000'}",-1,NaN,267372009,1.000000,Albers.txt
9,1,False,287,292,[Akute],Concept,"{'db_name': 'SNOMED CT', 'db_id': '272118002'}",0,0.917403,272118002,0.917403,Albers.txt
10,1,False,293,301,[Psychose],Concept,"{'db_name': 'SNOMED CT', 'db_id': '69322001'}",0,1.000000,69322001,1.000000,Albers.txt
11,2,False,310,335,[schizophrenen Formenkreis],Concept,"{'db_name': 'SNOMED CT', 'db_id': '58214004'}",0,0.809159,58214004,0.809159,Albers.txt
12,1,False,339,355,[Selbstschädigung],Concept,"{'db_name': 'SNOMED CT', 'db_id': '276853009'}",-1,NaN,248062006,0.930524,Albers.txt
13,1,False,360,374,[Blutungsanamie],Concept,"{'db_name': 'SNOMED CT', 'db_id': '413532003'}",0,0.968345,413532003,0.968345,Albers.txt
14,1,False,379,391,[Hypokaliämie],Concept,"{'db_name': 'SNOMED CT', 'db_id': '43339004'}",0,1.000000,43339004,1.000000,Albers.txt
15,2,False,396,418,[Arterieller Hypertonus],Concept,"{'db_name': 'SNOMED CT', 'db_id': '38341003'}",0,0.957041,38341003,0.957041,Albers.txt
16,1,False,421,436,[Symptomatisches],Concept,"{'db_name': 'SNOMED CT', 'db_id': '264931009'}",0,0.951985,264931009,0.951985,Albers.txt
17,1,False,437,450,[Anfallsleiden],Concept,"{'db_name': 'SNOMED CT', 'db_id': '91175000'}",2,0.813036,84757009,1.000000,Albers.txt
18,1,False,470,486,[Aneurysmablutung],Concept,"{'db_name': 'SNOMED CT', 'db_id': '21454007'}",-1,NaN,58780002,0.797076,Albers.txt
19,1,False,491,501,[Passagerer],Concept,"{'db_name': 'SNOMED CT', 'db_id': '14803004'}",-1,NaN,257500003,0.888506,Albers.txt
20,2,False,502,519,[Diabetes mellitus],Concept,"{'db_name': 'SNOMED CT', 'db_id': '73211009'}",0,1.000000,73211009,1.000000,Albers.txt
21,1,False,523,533,[19.03.2029],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258695005'}",-1,NaN,103088005,0.669448,Albers.txt
22,1,False,535,551,[Handreplantaticm],Concept,"{'db_name': 'SNOMED CT', 'db_id': '179989002'}",0,0.762645,179989002,0.762645,Albers.txt
23,1,False,552,562,[25.03.2029],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258695005'}",-1,NaN,103088005,0.702850,Albers.txt
24,1,False,565,573,[Revision],Concept,"{'db_name': 'SNOMED CT', 'db_id': '118635009'}",2,1.000000,261560009,1.000000,Albers.txt
25,1,False,587,600,[Nekrosektomie],Concept,"{'db_name': 'SNOMED CT', 'db_id': '1835003'}",-1,NaN,255310005,0.809040,Albers.txt
26,1,False,601,605,[Kopf],Concept,"{'db_name': 'SNOMED CT', 'db_id': '302548004'}",-1,NaN,69536005,1.000000,Albers.txt
27,1,False,608,612,[Hals],Concept,"{'db_name': 'SNOMED CT', 'db_id': '49928004'}",-1,NaN,45048000,1.000000,Albers.txt
28,1,False,625,635,[Jet-Lavage],Concept,"{'db_name': 'SNOMED CT', 'db_id': '225150002'}",-1,NaN,4764004,0.799638,Albers.txt
29,1,False,637,648,[Debridement],Concept,"{'db_name': 'SNOMED CT', 'db_id': '36777000'}",1,1.000000,404916008,1.000000,Albers.txt
30,2,True,653,664,[VAG Wechsel],Concept,"{'db_name': 'SNOMED CT', 'db_id': '1217562000'}",-1,NaN,444566006,0.686714,Albers.txt
31,1,False,665,671,[linken],Concept,"{'db_name': 'SNOMED CT', 'db_id': '7771000'}",0,0.859767,7771000,0.859767,Albers.txt
32,1,False,672,676,[Hand],Concept,"{'db_name': 'SNOMED CT', 'db_id': '85562004'}",0,1.000000,85562004,1.000000,Albers.txt
33,1,False,690,700,[Jet-Lavage],Concept,"{'db_name': 'SNOMED CT', 'db_id': '225150002'}",-1,NaN,4764004,0.799638,Albers.txt
34,1,False,702,713,[Debridement],Concept,"{'db_name': 'SNOMED CT', 'db_id': '36777000'}",1,1.000000,404916008,1.000000,Albers.txt
35,1,True,718,729,[VAG-Wechsel],Concept,"{'db_name': 'SNOMED CT', 'db_id': '1217562000'}",-1,NaN,74508004,0.718325,Albers.txt
36,1,False,730,735,[linke],Concept,"{'db_name': 'SNOMED CT', 'db_id': '7771000'}",0,0.848052,7771000,0.848052,Albers.txt
37,1,False,736,740,[Hand],Concept,"{'db_name': 'SNOMED CT', 'db_id': '85562004'}",0,1.000000,85562004,1.000000,Albers.txt
38,1,False,753,768,[Nachdebridement],Concept,"{'db_name': 'SNOMED CT', 'db_id': '36777000'}",0,0.858151,36777000,0.858151,Albers.txt
39,1,False,772,776,[Kopf],Concept,"{'db_name': 'SNOMED CT', 'db_id': '302548004'}",-1,NaN,69536005,1.000000,Albers.txt
40,1,True,778,789,[VAG-Wechsel],Concept,"{'db_name': 'SNOMED CT', 'db_id': '1217562000'}",-1,NaN,74508004,0.718325,Albers.txt
41,1,False,790,795,[linke],Concept,"{'db_name': 'SNOMED CT', 'db_id': '7771000'}",0,0.848052,7771000,0.848052,Albers.txt
42,1,False,796,800,[Hand],Concept,"{'db_name': 'SNOMED CT', 'db_id': '85562004'}",0,1.000000,85562004,1.000000,Albers.txt
43,1,False,801,811,[07.04.2029],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258695005'}",-1,NaN,103088005,0.670642,Albers.txt
44,1,False,813,830,[Weicliteildeckung],Concept,"{'db_name': 'SNOMED CT', 'db_id': '363309004'}",-1,NaN,465375008,0.747482,Albers.txt
45,1,False,835,849,[Spalthautsheet],Concept,"{'db_name': 'SNOMED CT', 'db_id': '13853000'}",-1,NaN,272708001,0.672261,Albers.txt
46,1,False,883,893,[15.04.2029],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258695005'}",-1,NaN,103088005,0.623328,Albers.txt
47,1,False,895,906,[Debridement],Concept,"{'db_name': 'SNOMED CT', 'db_id': '36777000'}",1,1.000000,404916008,1.000000,Albers.txt
48,2,False,908,918,[Jet Lavage],Concept,"{'db_name': 'SNOMED CT', 'db_id': '225150002'}",-1,NaN,272220005,0.788669,Albers.txt
49,2,True,924,935,[VAC Wechsel],Concept,"{'db_name': 'SNOMED CT', 'db_id': '1217562000'}",-1,NaN,444566006,0.706397,Albers.txt
50,1,False,936,941,[linke],Concept,"{'db_name': 'SNOMED CT', 'db_id': '7771000'}",0,0.848052,7771000,0.848052,Albers.txt
51,1,False,942,946,[Hand],Concept,"{'db_name': 'SNOMED CT', 'db_id': '85562004'}",0,1.000000,85562004,1.000000,Albers.txt
52,1,False,947,957,[23.04.2029],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258695005'}",-1,NaN,103088005,0.666746,Albers.txt
53,1,False,1024,1034,[06.05.2029],Concept,"{'db_name': 'SNOMED CT', 'db_id': '258695005'}",-1,NaN,387188005,0.653003,Albers.txt
54,1,False,2024,2028,[Hand],Concept,"{'db_name': 'SNOMED CT', 'db_id': '85562004'}",0,1.000000,85562004,1.000000,Albers.txt
55,1,False,2094,2098,[Hand],Concept,"{'db_name': 'SNOMED CT', 'db_id': '85562004'}",0,1.000000,85562004,1.000000,Albers.txt